body{
    background-color:whitesmoke;
}
.div1{
    
    background-color: white;
    width: 400px;
    height: 275px;
    margin: auto;
    margin-top: 200px;
    padding : 25px;
    border-radius: 5%;
    box-shadow: 1px 1px 5px rgb(207, 207, 207);
}
img{
    display: block;
    width: 100px;
    margin: auto;
    border-radius: 50px    
    
}
.centertext{
    text-align: center;
}
.div2{
    margin: auto;
    margin-top: 40px;
    
    
}
h3{
    
    display: inline;
    padding: 15px;
    color: white;
    border-radius: 50%;
    margin: 10px;
}
a{
    text-decoration: none;
}
